body {
    background-color: greenyellow;
    font-family: Arial, sans-serif;
}

#container {
    width: 70%;
    background-color: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

#name {
    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
    color: #333;
}

#title {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
    font-style: italic;
}

h2 {
    color: green; 
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #444;
}
#p1{
    background-color: rgb(0, 242, 255);
}
#p2{
    background-color: rgb(255, 13, 0);

}
#p3{
    background-color: orange;
}
img{
    float: center;

    width: 120px;          
    height: 120px;         
    border-radius: 50%;    
    object-fit: cover;    
    display: block;        
    margin: 0 auto 15px;   
    border: 5px solid #000000; 

}
img:hover{
    width: 130px;
    height:130px;
    opacity:0.7;
}
#p4{
    background-color: blueviolet;
}
#p5{
    background-color: chocolate;
}
#p6{
    background-color: ghostwhite;
}
